# General
numpy
matplotlib
tqdm
pyyaml
termcolor
ipdb
IPython
pyink
isort
black[jupyter]


# Image
# opencv-python
# torch
# torchvision
# ray[tune]
# pytorch-lightning
# tensorboard
# librosa
# pytube
# itk
